@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.footer_background {
  background: var(--Base-BG-Dark, #052825);
}
.footer_menu {
  display: flex;
  flex-direction: row;
}
.menu_left {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 135px;
}
.menu_left-h2 {
  color: var(--Base-Text-On-Dark, #fff);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  padding-bottom: 34px;
}
.menu_left-h3 {
  color: var(--Base-Text-On-Dark, #fff);
  /* Paragraph/18B */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.32px;
  padding-bottom: 6px;
}
.menu_left-p {
  width: 423px;
  color: var(--Base-Text-On-Dark, #fff);
  /* Paragraph/16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
  padding-bottom: 6px;
}
.button_left-text {
  width: 116px;
  display: inline-flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1px;
  background: none;
  border: 0;
  color: var(--Base-Text-On-Dark, #fff);
  /* Paragraph/16B */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}

.footer_navigation-all {
  display: flex;
  flex-direction: column;

  gap: 32px;
  padding-top: 122px;
  padding-left: 196px;
}
.footer_navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 26px;
}
.footer_navigation-item {
  color: var(--Base-Text-On-Dark, #fff);
  /* Paragraph/16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}
.footer_line {
  margin-left: 135px;
  width: 1170px;
  height: 1.4px;
  flex-shrink: 0;
  opacity: 0.08;
  background: var(--Base-Text-On-Dark, #fff);
}
.footer_end {
  display: flex;
  flex-direction: row;

  padding: 30px 0px 44px 135px;
  align-items: center;
}
.footer_last_text {
  width: 388px;

  color: var(--Base-Text-On-Dark, #fff);
  /* Paragraph/14 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.25px;
}
.footer_date {
  color: var(--Base-Text-On-Dark, #fff);
  padding-left: 500px;
  /* Paragraph/14 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.25px;
}
